<h1>About us</h1>
<p>We are a team of writers living in New York City, and we've always wanted to find an easier way to share our stories and discuss them with readers. We believe that the only way for one to improve as a writer is solicit constructive criticism on one's writing. Our platform helps writers of all levels of expertise do exactly that.</p>

<p>For more information, please contact us below.</p>
<a href="/contactus">Contact Us</a>
